<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <body style="background-color: rgb(166, 194, 203);"></body>
    <div class="px-5 py-5 mx-auto">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/scrum122.png') }}" alt="Python Development" height="500">
                    <div class="card-body">
                    <h5 class="card-title">Scrum Master</h5>
                    <p class="card-text">
                        Hello My Name is Krishiv and I am the scrum master for this project. My favorite thing to do that keeps me fit is playing soccer and running. My Role in this project was to help keep everything organized by creating scrum boards and assigning tasks, in addition I helped with creating the logo,homepage,and the about us which is what your are reading now.
                    </p>
        
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/developers343.png') }}" alt="Flask Development" height="500">
                    <div class="card-body">
                    <h5 class="card-title">Developers</h5>
                    <p class="card-text">
                        Hello we are the developers our names are Advay, Prasith, and Dhruva. We worked on the elements of this app we used java script and html for the frontend coding process. For the backend drhuva madde and used api with python and fetched it using Javascript.
                    </p>
                
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/awsdev2.jpg') }}" alt="Backend and Persistence" height="500">
                    <div class="card-body">
                    <h5 class="card-title">DevOps</h5>
                    <p class="card-text">
                        Hello, my name is Shivansh and I helped develop our app onto AWS with the process on making connecting to the dnn server and continuing to update our changes and eventually publsih our site onto the internet. 
                    </p>
                    
                    </div>
                </div>
            </div>
            
        </div>
    </div>

   
                                  
                                    
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
