<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <body style="background-color: rgb(207, 197, 186);"
    
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-black"><strong>ABOUT US!</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                   
                    <div class="card-body">
                    <h5 class="card-title">Krishiv</h5>
                    <p class="card-text">
                       Hello My Name is Krishiv and I am the scrum master for this project. My favorite thing to do that keeps me fit is playing soccer and running. My Role in this project was to help keep everything organized by creating scrum boards and assigning tasks, in addition I helped with creating the logo,homepage,and the about us which is what your are reading now.
                    </p>
                  
             </div>
   
                                  
                                    
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
