
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
        </head>
        <body>
            <div class="calculator-container">
                <p> <img src="../static/assets/bmi-graph.png" alt="BMI Graph" style="float:right;width:640px;height:520px;"></p>
                <div class="px-5 py-5 mx-auto">
                    <h1 class="text-primary"><strong>BMI Calculator :</strong> <strong><span style="font-style:italic;"> Calculadora de BMI</span></strong></h1>
                <p>Height : <span style="font-style:italic;">Altura</span> (INCHES): <input class="height-input-field" type="text">
                <p>Weight: <span style="font-style:italic;">Peso</span> (POUNDS): <input class="weight-input-field" type="text"><button class="calculate"> Calculate : <span style="font-style:italic;">Calcular</span></button>
                
                </head>
                <style>
                    div.result {
                        position: relative;
                        left: 50px;
                        border: 3px solid #1F456E;
                    }
                    </style>
                <h3 class="result"></h3>
                <h4 class="result-statement"></h4>
                        <script type="text/javascript" src="../static/js/app.js"></script>
                    </div>
        </body>
        </html>
    
            
        
    
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}






