<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Calorie" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <body style="background-color: rgb(217, 217, 217);"></body>
    
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Calorie Counter</strong></h1>
        <br>
    <html>
    <body>
        <label for="goal">Calorie Goal : <br></label><input type="text" id="goal"> <button type="submit" onclick="myfunc()" id="test">Submit</button>

        <script type="text/javascript">
            const total_cal = 0
            function myfunc() {
                var goal = document.getElementById('goal').value;
                document.write("Progress on Calorie Goal: ".fontsize(20) + " 0 ".fontsize(20) + " / ".fontsize(20) + goal.fontsize(20) + "<br>");
                let btn = document.createElement("button");
                btn.innerHTML = "Add";
                var cal = 0
                btn.addEventListener("click", function () {
                    const inc = parseInt(prompt("How Many Calories Do you want to add? "));
                    
                    const sum = total_cal + inc; 
                    var sum_text = sum.toString();

                document.write("Progress on Calorie Goal: ".fontsize(20) + sum_text.fontsize(20) + " / ".fontsize(20) + goal.fontsize(20) + "<br>");
                    
                });
                document.body.appendChild(btn);
                    

            }
        </script>
    <body>
    </html>
    
        
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

