{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <body background= "{{ url_for('static', filename='assets/homepage-gym.jpeg') }}" >
       
       
    
       
    
     <div class="px-5 py-5 mx-auto">
        <h1 style="position:relative; left:500px; top:100px;" class="text-black" ><strong>Fitness Forever</strong></h1>
        <button type="button" style="position:relative; left:600px; top:100px;">About Us</button>

        <div class="px-5 py-5 mx-auto">
            <h1 class="text-white"><strong></strong></h1>
            <div class="row" style="position:relative; left:390px; top: 100px;">
                <div class="col-4">
                    <div class="card">
                        <div class="card-body" >
                        <h5 class="card-title">READ ME</h5>
                        <p class="card-text" >
                        Hello! Welcome to our website. We are Fitness Forever a service who is dedicated to helping you reach your fitness goals of losing or gaining weight. You will be able to achieve this with our fitness quiz,calorie counter, and calorie goal setter. We know it's hard to reach all of your goals, which is why if you need some motivation always remember to go to the motivation tab.
                        </p>
                        
                        </div>
        
                
               
              
            </body>
{% endblock %}