{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <body background= "{{ url_for('static', filename='assets/biggu.jpg') }}">
    
       
    
     <div class="px-5 py-5 mx-auto">
        <h1 style="position:relative; left:500px; top:200px;" class="text-white" ><strong>Fitness Forever</strong></h1>
        <button type="button" style="position:relative; left:600px; top:200px;">About Us</button>
        
                
               
              
            </body>
{% endblock %}